{% extends 'base.html' %}

{% block title %}Portal Produção{% endblock %}

{% block navbar_title %}
<span class="app-title-text">Portal Produção</span>
{% endblock %}

{% block nav_items %}

<!-- Divisor vertical -->
<li class="nav-item">
  <span class="nav-link" style="border-left: 2px solid #60a5fa; height: 24px; margin: 8px 15px;"></span>
</li>

<!-- Menu de Cadastros Básicos -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle {% if 'usuario' in request.resolver_match.url_name or 'grupo' in request.resolver_match.url_name or 'subgrupo' in request.resolver_match.url_name or 'fornecedor' in request.resolver_match.url_name or 'cliente' in request.resolver_match.url_name or 'parametros' in request.resolver_match.url_name %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     Cadastros
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">

    <li><a class="dropdown-item" href="{% url 'producao:fornecedor_list' %}">
        Fornecedores
    </a></li>
    

  </ul>
</li>

<!-- Menu de Produtos -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle {% if 'produto' in request.resolver_match.url_name or 'materiaprima' in request.resolver_match.url_name %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Produtos
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'producao:materiaprima_list' %}">
        Matérias-Primas
    </a></li>
        <li><hr class="dropdown-divider"></li>
    
    <li><a class="dropdown-item" href="{% url 'producao:grupo_list' %}">
        Grupos de Produtos
    </a></li>
    <li><a class="dropdown-item" href="{% url 'producao:subgrupo_list' %}">
        Subgrupos de Produtos
    </a></li>

  </ul>
</li>

{% endblock %}