{% extends 'base.html' %}

{% block navbar_title %}
<span class="app-title-text">Portal do Vendedor</span>
{% endblock %}

{% block nav_items %}

<!-- Menu de Propostas -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle {% if 'pedido' in request.resolver_match.url_name %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Vendas
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'vendedor:proposta_step1' %}">
        Nova Proposta
    </a></li>
    <li><a class="dropdown-item" href="{% url 'vendedor:proposta_list' %}">
        Todas as Propostas
    </a></li>
  </ul>
</li>

<!-- Menu de Vistorias -->
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle {% if 'vistoria' in request.resolver_match.url_name %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Vistorias
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'vendedor:vistoria_list' %}">
        Vistorias
    </a></li>
  </ul>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle {% if 'formulas' in request.resolver_match.url_name %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gerencial
  </a>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="{% url 'producao:formulas_calculo' %}?origem=vendedor">
        Formulas de Calculo
    </a></li>
  </ul>
</li>

{% endblock %}

{% block extra_css %}
<!-- Estilos removidos - agora usando estilos globais do style.css -->
{% endblock %}